/* app/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* FORCES HTML and BODY background to pure black, overriding any defaults */
html,
body {
  background-color: #000000; 
  color: #f3f4f6; /* Set default text color to light gray (text-gray-100) */
  min-height: 100vh;
}